{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Редактировать "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" name="title" placeholder="Название публикации"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Содержание</label>
        <textarea name="content" placeholder="Содержание публикации"
                  class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Готово</button>
    </div>
</form>
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Удалить"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Вы уверены, что хотите удалить публикацию?')">
</form>
<hr>


{% endblock %}
